# Unity 専用設定
# Ignore all of Packages except for custom package
/Packages/*
!/Packages/com.hakoniwa-lab.hakoniwa-pdu/

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/  # メモリキャプチャ
/[Rr]ecordings/      # 録画ファイル

# Asset Store Tools
# /[Aa]ssets/AssetStoreTools*

# Jetbrains Rider プラグイン
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio と Gradle キャッシュ
.vs/
.gradle/

# VS/MD/Consulo 自動生成ファイル
ExportedObj/
.consulo/
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity のクラッシュレポートや生成ファイル
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# ビルド成果物
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics 生成ファイル
crashlytics-build.properties

# Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# .NET/C# プロジェクト設定
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.msi
*.zip
*.nuspec
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code ユーザー設定
.vscode/

# ユニットテスト関連
TestResults/
.trx
*.Coverage
*.coverage

# NuGetパッケージ
#packages/
*.nupkg
*.snupkg
.nuget/

# MacOS 特有のファイル
.DS_Store

# その他の一時ファイル
*.swp
*.bak
*.tmp
*.temp
